/* Recommendations */

.main-homepage {
    display: grid;
    grid-template-columns: 9% 91%;
}

.sidenav {
    background: #202020;
    position: fixed;
    left: 0;
    right: 91%;
    padding: 10px 0;
    height: 100vh;
    position: fixed;
}

.sidenav i {
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}

.sidenav .sidenav-toggle {
    display: flex;
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
}

.sidenav-icons {
    display: grid;
}

.sidenav-icons .icon {
    font-size: 20px;
    cursor: pointer;
    width: 100%;
    text-align: center;
    display: grid;
    justify-content: center;
    color: white;
    align-items: center;
    margin-bottom: 30px;
    padding: 10px 0;
    height: 100%;
}

.sidenav-icons .icon p {
    font-size: 10px;
    font-weight: lighter;
    font-family: 'Roboto';
    display: block;
}

.sidenav-icons .icon:hover {
    background: rgb(54, 54, 54);
}

.recommendations {
    margin-top: 30px;
}

.recommend-card {
    color: white;
    /* padding: 2% 5%; */
}

.recommend-card .video-img img {
    width: 100%;
}

.recommend-card .video-img {
    position: relative;
    cursor: pointer;
}

.recommend-card .video-duration {
    position: absolute;
    bottom: 2px;
    right: 2px;
    padding: 1px 10px;
    background: rgba(0, 0, 0, 0.9);
    font-size: 13px;
    letter-spacing: 2px;
}

.recommend-card .video-info {
    margin-top: 15px;
    cursor: pointer;
}

.recommend-card .video-info .video-title {
    display: flex;
}

.recommend-card .video-info .video-profile-img {
    height: 48px;
    width: 48px;
    border-radius: 50%;
}

.recommend-card .video-info .video-title-text-div {
    font-size: 1rem;
    padding-left: 10px;
}

.recommend-card .video-info .video-title-text-div .video-title-text {
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 1.1rem;
    line-height: 1.5rem;
    font-weight: 500;
    max-height: 4rem;
}

.recommend-card .video-info .video-title-text-div .channel-name {
    font-size: 13px;
    color: #aaa;
    font-weight: bolder;
}

.recommend-card .video-info .video-extra-info {
    margin-top: 5px;
}

.recommend-card .video-info .video-extra-info .video-views-div {
    display: flex;
}

.recommend-card .video-info .video-extra-info .video-views,
.recommend-card .video-info .video-extra-info .video-time {
    color: #aaa;
    font-size: 13px;
    line-height: 20px;
}

.recommend-card .video-info .video-extra-info .video-views::after {
    content: '•';
    margin: 0 4px;
}
